.header{
    height:120px;
    background-color: #0093d0;
    padding:0 30px;
}
#logo{
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
}
ul{
    list-style: none;
    color:white;
    height: 100px;
}
ul li a{
    color:white;
    text-decoration: none;
    transition: all 200ms ease;
}
ul li a:hover{
    text-decoration: underline;
    color: black;
}