<div class = "row header d-flex flex-row justify-content-between align-items-center">
    <div class="col-4">
        <img id="logo" src="https://image.freepik.com/free-vector/ch-logo-letter_8035-4.jpg" alt="">
    </div>
    <div class="col-4">
        <ul class="d-flex justify-content-between align-items-end ">
            <li><button>About</button></li>
            <li><a href="https://www.github.com/atsianis">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/atsianis">LinkedIn</a></li>
        </ul>
    </div>
</div>
