.footer{
    height: 220px;
    padding: 0 30px;
    background-image: url("footer_background.jfif");
    background-size:cover;
}
h4{
    font-style: italic;
    color: aliceblue;
}
ul{
    list-style: none;
    height: 100px;
}
img{
    border-radius:50%;
    height:70px;
    width:70px;
}