<div class="card" style="width: 18rem;">
    <img src={{country.flag}} class="card-img-top" alt={{country.name}} flag>
    <div class="card-body">
      <h5 class="card-title">{{country.name}}</h5>
      <p class="card-text">
            <span>
                Region: {{country.region}}
            </span><br>
            <span>
                Capital: {{country.capital}}
            </span>
        </p>
      <a href="https://www.wikipedia.com/wiki/{{country.name}}" class="btn btn-primary">Learn More</a>
    </div>
  </div>
